body {
  margin-left: 80px;
  margin-top: 40px;
  padding-left: 11em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #062c30;
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    #fdceb9 0%,
    #ffeddb 26.2%,
    #edcdbb 50.6%,
    #e3b7a0 74.1%,
    #bf9270 100.3%
  );
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 2em;
  width: 11em;
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;
}
ul.navbar a {
  text-decoration: none;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
