* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}
.page-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1000px;
  min-height: 100vh;
  margin: auto;
}
.header {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.header-nav-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav{
  padding: 20px 0 50px 0;
}
.nav__list {
  display: flex;
  list-style: none;
  margin-top: 0;
  padding: 0;
}
.nav__item {
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
}
.nav__item :hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}
.nav__link{
  color: rgb(16, 16, 10);
  text-decoration: none;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.heading{
  padding-top: 80px;
}
.heading-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading__img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.page-logo{
  padding-right: 280px;
}
.page-logo__link{
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(16, 16, 10);
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
}
.page-logo__header{
  color: rgb(77, 77, 77);
  font-size: 28px;
}

/*MAIN and ASIDE*/
.main{
  width: 100%;
  display: flex;
}
.main-asside{
  width: 30%;
}
.main-container{
  width: 70%;
}
.section-header{
  padding-bottom: 20px;
}
.section-paragraph{
  padding-bottom: 50px;
}
.education__section{
  padding-bottom: 20px;
}
.education__description{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.education__section_header{
  padding-bottom: 5px;
}
/* .education__description_header{
  margin: 0;
} */
.education__description_years{
  padding-right: 25px;
}
.education__section_list{
  padding-left: 20px;
}
.contact-body__wrap{
  display: flex;
}
.contact-body__list{
  list-style: none;
}
.contact-body__link{
  text-decoration: none;
  color: rgb(77, 77, 77);
}
.contact-section{
  padding-bottom: 10px;
}
.favicon{
  width: 15px;
  height: 15px;
  padding-right: 8px;
}
.comment{
  width: 25px;
  height: 25px;
  padding-right: 2px;
}

/*codding Scills*/
.codding > li {
  margin: 15px 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}
.codding__length {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  background-color: #ffffff3b;
}

.codding__length span {
  display: block;
  height: 100%;
}

.html5{
  width: 90%;
}
.css{
  width: 90%;
}
.sass{
  width: 80%;
}
.less{
  width: 60%;
}
.javaScript{
  width: 50%;
}
.bootstrap{
  width: 90%;
}
.react{
  width: 20%;
}
.webpack{
  width: 50%;
}
.npm{
  width: 50%;
}
.figma{
  width: 40%;
}
.wordPress{
  width: 30%;
}
.codding__background {
  background-color: rgb(100,100,92);
  animation: background-persentege 3s ease;
}

@keyframes background-persentege {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/*footer*/
footer {
  padding: 50px 0px;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-content__img{
  width: 100px;
}

.footer-content__year{
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 1000px){ 

  .page-container {
    width: 90%;
  }
  
  .main-asside{
    width: 40%;
  }

  .main-container{
    width: 60%;
  }

  .page-logo{
    padding-right: 0px;
  }
}


@media screen and (max-width: 767px) {
  
  .main{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .main-asside{
    width: 90%;
    justify-content: center;
  }

  .main-container{
    width: 100%;
  }

  footer{
    width: 90%;
  }

}

@media screen and (max-width: 767px) {

  .nav{
    padding-bottom: 20px;
  }
  .nav__item {
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
}
  .heading{
    padding: 10px;
  }
  .heading-wrapper{
    flex-direction: column;
  }
  .page-logo{
    margin-bottom: 20px;
  }
  .section-header{
    text-align: center;
  }
  .education__description_years{
    padding-right: 10px;
  }

}



